body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background: #ffffff;
  color: #333;
}

header {
  background: linear-gradient(to right, #ffae00, #ff0000);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1.5em;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  flex-wrap: wrap;
}

section {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 40%;
  min-width: 300px;
}

input[type="submit"]{
  background: linear-gradient(to right, #ffae00, #ff0000);
}
label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0b5ed7;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
